body{
    margin:0px;
}
nav {
    display:flex;
    height:120px;
    width: 100%;
    flex-direction: row-reverse;
    background-color: rgb(30, 30, 30);

}
nav > a {
    padding:40px;
    line-height: 75px;
    font-size: 20px;
    text-decoration:none;
    color:white;
    text-align: center;
}
nav > img {
    
    margin-right:auto;
}

nav > a:hover {
    color:rgb(175, 0, 255);
    border-bottom:5px solid rgb(175, 0, 255)
}

footer{
    display: flex;
    background:rgb(30, 30, 30)
}
footer > *{
    flex-grow: 1;
    margin:10px;
    color:white;
    text-decoration: none;
}
footer > ul > li> a{
    text-align: center;
    color:white;
}
footer > ul > li{
    margin-top: 10px;
}

.title{
    border-left: 10px solid  rgb(175, 0, 255);
    background-color: rgb(255, 150, 255);
    padding:10px;
    margin-bottom: 0px;
    color:whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;

}
.caption{
    margin-top: 2px;
    color:whitesmoke;
    border-left: 10px solid  rgb(100, 100, 255);
    background-color: rgb(150, 150, 255);
    padding: 10px;
}